<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IP Geolocation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="./script/script.js" defer></script>
</head>

<body>
  <h1>IP Checker</h1>
  <p id="error-flash-ip"></p>
  <form action="/geolocation" method="POST" id="post-form-ip">
    <label for="ip">ip</label>
    <input type="text" name="ip" id="ip" required>
    <button type="submit">Search</button>
  </form><br><br>

  <div id="result-area">
    <p id="res1-ip"></p>
    <p id="res2-ip"></p>
    <p id="res3-ip"></p>
    <p id="res4-ip"></p>
    <p id="res5-ip"></p>
    <a id="res6-ip" href="#">Show On Google Maps</a>
  </div>

</body>

</html>