<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTools</title>
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/f334197832.js" crossorigin="anonymous"></script>
  <script type="module" defer>
    import {
      searchResults
    } from './script/keywords.js';

    $("#search-form").on("submit", async (event) => {
      event.preventDefault();

      let value = $("#search").val();
      if (value == "") value = null;

      try {
        const searchValue = await searchResults(value);
        $("#tool-link").html(`${searchValue}`);
        $("#tool-link").attr('href', `/${searchValue.toLowerCase().replace(" ", "-")}`);
      } catch (err) {
        $("#tool-link").html(`No Results`);
        $("#tool-link").attr('href', `#`);
      }
    });
  </script>
</head>

<body>
  <header class="page-header">
    <h1>OTO</h1>
    <h1 id="gear"><i class="fa-sharp fa-solid fa-gear"></i></h1>
    <h1>LS</h1>
  </header>

  <div id="search-bar">
    <form id="search-form">
      <input type="text" placeholder="Search Here" name="search" id="search">
      <div>
        <button type="submit">Search</button>
      </div>
    </form>
  </div>

  <div id="result">
    <div id="text-results">
      <a id="tool-link" href="#"></a>
    </div>
  </div>

  <section class="main-section">
    <div class="cards" id="cards">
      <div class="card" onclick="window.open('/geolocation')">
        <div class="top">
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div class="bottom">
          <a href="/geolocation">IP Geolocation Finder</a>
        </div>
      </div>
      <div class="card" onclick="window.open('/random-bytes')">
        <div class="top">
          <i class="fa-solid fa-key"></i>
        </div>
        <div class="bottom">
          <a href="/random-bytes">Random Bytes Generator</a>
        </div>
      </div>
      <div class="card" onclick="window.open('/domain-checker')">
        <div class="top">
          <i class="fa-sharp fa-solid fa-sitemap"></i>
        </div>
        <div class="bottom">
          <a href="/domain-checker">Domain Checker</a>
        </div>
      </div>
      <div class="card" onclick="window.open('/text-reverse')">
        <div class="top">
          <i class="fa-solid fa-a"></i>
        </div>
        <div class="bottom">
          <a href="/text-reverse">Text Reverse</a>
        </div>
      </div>
      <div class="card" onclick="window.open('/words-counter')">
        <div class="top">
          <i class="fa-sharp fa-solid fa-t"></i>
        </div>
        <div class="bottom">
          <a href="/words-counter">Words Counter</a>
        </div>
      </div>
      <div class="card" onclick="window.open('/md5-hash')">
        <div class="top">
          <i class="fa-brands fa-slack"></i>
        </div>
        <div class="bottom">
          <a href="/md5-hash">MD5 Hash</a>
        </div>
      </div>
    </div>
  </section>
</body>

</html>